<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" package="inswave.wmatrix.template">
  <application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/WMatrixConfig_AppName" android:largeHeap="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true" tools:ignore="GoogleAppIndexingWarning" tools:replace="android:icon, android:label, android:allowBackup" tools:targetApi="q">
    <activity android:name=".TemplateActivity" android:configChanges="orientation|keyboardHidden|screenLayout|screenSize|smallestScreenSize|keyboard|navigation" android:exported="true" android:launchMode="singleTop" android:theme="@style/splash_screen_theme" android:resizeableActivity="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" tools:replace="android:resource"/>
    </provider>
    <activity android:name="com.TouchEn.mVaccine.b2b2c.activity.ScanActivity" android:theme="@style/Theme.mVaccine.NoTitleBar" android:screenOrientation="fullSensor"/>
    <activity android:name="com.TouchEn.mVaccine.b2b2c.activity.BackgroundScanActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:theme="@style/Theme.mVaccine.Transparent"/>
    <activity android:name="com.TouchEn.mVaccine.b2b2c.activity.ResultLogActivity" android:screenOrientation="fullSensor" android:exported="false" android:theme="@style/Theme.mVaccine.NoTitleBar"/>
    <activity android:name="com.TouchEn.mVaccine.b2b2c.activity.BackgroundScan" android:theme="@style/Theme.mVaccine.Transparent"/>
    <activity android:name="wmatrix.plugin.mvaccine.MVaccineDialogActivity" android:configChanges="orientation|keyboardHidden|screenLayout|screenSize|smallestScreenSize|keyboard" android:launchMode="singleTop" android:resizeableActivity="true" android:exported="true"/>
    <service android:name="com.TouchEn.mVaccine.b2b2c.service.OnInstallService" android:process=":remote"/>
    <service android:name="com.TouchEn.mVaccine.b2b2c.service.DetectionResultSendService" android:process=":remote"/>
    <service android:name="wmatrix.plugin.screenrecorder.ScreenRecorderService" android:enabled="true" android:exported="false" android:foregroundServiceType="mediaProjection"/>
  </application>
  <uses-permission android:name="android.permission.GET_TASKS"/>
  <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
